<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

 <% corgis.forEach (function(corgi) { %>
    <p>Corgi Name: <%= corgi.name %></p>
    <p>Description: <%= pirate.description %></p>
    <% }); %>

  </body>
</html>
