<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Corgi Name: <%= corgi.name %></p>
    <p>Description: <%= corgi.description %></p>

<!-- A form with a submit button "like", goes to post request that changes liked attr to true -->

  </body>
</html>
